
.displayContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  text-align: center;
  margin-top: 10px;
  gap: 10px;
}

.screen:focus-visible  {
  outline: none;
}

.screen-img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: inline;
  vertical-align: middle;
}

.screen  {
  object-fit: contain;
}

.screen_main{
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #787878;
  box-shadow: 0 0 10px rgba(0,0,0,1);
}

.android-menu-bottom{
  display: flex;
  justify-content: space-around;
  background-color: rgb(0,0,0);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.android-button{
  position: relative;
  background-color: black;
  border-radius: 4em;
  color: white;
  cursor:pointer;
  user-select:none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
  border: none;
  margin: 5px;
  overflow: auto;
}

.android-button:hover {
  transition-duration: 0.1s;
}

.android-button:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}

.android-button:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  opacity: 1;
  transition: 0s;
}

.android-button:active {
  top: 1px;
  transition-duration: 0.1s;
  background-color: #3A3A3A;
}

.loader {
  width: 60px;
}

.loader-wheel {
  animation: spin 1s infinite linear;
  border: 2px solid rgba(30, 30, 30, 0.5);
  border-left: 4px solid #fff;
  border-radius: 50%;
  height: 50px;
  margin-bottom: 10px;
  width: 50px;
}

.loader-text {
  color: black;
  font-family: arial, sans-serif;
}

.loader-text:after {
  content: 'Loading';
  animation: load 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    content: 'Loading';
  }
  33% {
    content: 'Loading.';
  }
  67% {
    content: 'Loading..';
  }
  100% {
    content: 'Loading...';
  }
}

.glow-on-hover {
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: 100%;
  height: 100%;
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

/* .glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
} */

.glow-on-hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}